@import './utils/vars';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/visually-hidden';

@import './base/container';
@import './base/common';
@import './base/animations';
@import './base/resets';

.grid {
    @media screen and (min-width: getSize(desktop)) {
        display: flex;
        flex-wrap: wrap;

        gap: $indent;
    }
}

.grid-item {
    flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}

address {
    font-style: normal;
}

.flex {
    @media screen and (min-width: getSize(desktop)) {
        display: flex;
        align-items: center;
    }
}

@import './components/btns';
@import './components/socials';
@import './components/menu';
@import './components/modal';
@import './components/scroll';
@import './components/bcg-img';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/about';
@import './layouts/price';
@import './layouts/benefits';
@import './layouts/team';
@import './layouts/gallery';
@import './layouts/contacts';
@import './layouts/footer';