<section class="about section" id="about">
  <div class="container about__container">
    <ul class="about__gallery">
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./images/tablet/about/img1@1x.png 1x,
              ./images/tablet/about/img1@2x.png 2x,
              ./images/tablet/about/img1@3x.png 3x
            "
            media="(max-width: 1279.98px)"
            type="image/png"
            width="330"
            height="235"
          />
          <source
            srcset="
              ./images/desktop/about/img1@1x.png 1x,
              ./images/desktop/about/img1@2x.png 2x,
              ./images/desktop/about/img1@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
            width="270"
            height="445"
          />
          <img
            class="about__img"
            src="./images/desktop/about/img1@2x.png"
            alt="Бритье бороды"
            width="270"
            height="445"
          />
        </picture>
      </li>
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./images/tablet/about/img2@1x.png 1x,
              ./images/tablet/about/img2@2x.png 2x,
              ./images/tablet/about/img2@3x.png 3x
            "
            media="(max-width: 1279.98px)"
            type="image/png"
            width="330"
            height="235"
          />
          <source
            srcset="
              ./images/desktop/about/img2@1x.png 1x,
              ./images/desktop/about/img2@2x.png 2x,
              ./images/desktop/about/img2@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
            width="270"
            height="445"
          />
          <img
            class="about__img"
            src="./images/desktop/about/img2@2x.png"
            alt="Бритье опасной бритвой"
            width="270"
            height="445"
          />
        </picture>
      </li>
    </ul>
    <div class="about__group">
      <p class="about__uppertitle">About</p>
      <h2 class="about__title">The Best Barbershop in Your City</h2>
      <p class="about__subtitle">
        If you want to add more confidence to your image, you are definitely in
        the right place.
      </p>
      <p class="about__description">
        We are a team that never rests on its laurels and yearns for change. And
        once you fall into the hands of our master, you will never be the same
        again. We are a team that is always on the same wavelength with clients.
        Therefore, we are always ready to improve everyone who comes to us!
      </p>
      <button class="btn btn-mode-light" type="button">book a service</button>
    </div>
  </div>
</section>
