<section class="benefits section" id="benefits">
  <div class="container">
    <div class="benefits__container">
      <ul class="benefits__list list">
        <li class="benefits__item item-600">
          <p class="benefits__amount">
            600 <sup class="benefits__amount-decor">+</sup>
          </p>
          <p class="benefits__text">Satisfied Customers per Day</p>
        </li>
        <li class="benefits__item item-20">
          <p class="benefits__amount">
            20 <sup class="benefits__amount-decor">+</sup>
          </p>
          <p class="benefits__text">The Best Barbers of Kyiv</p>
        </li>
        <li class="benefits__item item-50">
          <p class="benefits__amount">
            50 <sup class="benefits__amount-decor">+</sup>
          </p>
          <p class="benefits__text">Excellent Service Awards</p>
        </li>
        <li class="benefits__item item-100">
          <p class="benefits__amount">
            100 <sup class="benefits__amount-decor">+</sup>
          </p>
          <p class="benefits__text">Gifts for Regular Customers</p>
        </li>
      </ul>
      <div class="benefits__group">
        <p class="benefits__uppertitle">Old school</p>
        <h2 class="benefits__title">Why do they come to us?</h2>
        <p class="benefits__subtitle">
          Only good things are said about us. But it is better to see and feel 1
          time than to read 10 times.
        </p>
      </div>
    </div>
  </div>
</section>
