<!-- <section class="benefits section" id="benefits">
  <div class="container">
    <div class="benefits-container">
      <ul class="benefits-list list">
        <li class="item item-600">
          <div class="container-amout">
            <p class="benefits-amount">
              600 <sup class="benefits-amount-decor">+</sup>
            </p>
            <p class="benefits-text">Довольных клиентов в день</p>
          </div>
        </li>
        <li class="item item-20">
          <p class="benefits-amount">
            20 <sup class="benefits-amount-decor">+</sup>
          </p>
          <p class="benefits-text">Лучших мастеров Киева</p>
        </li>
        <li class="item item-50">
          <p class="benefits-amount">
            50 <sup class="benefits-amount-decor">+</sup>
          </p>
          <p class="benefits-text">Наград за отличный сервис</p>
        </li>
        <li class="item item-100">
          <p class="benefits-amount">
            100 <sup class="benefits-amount-decor">+</sup>
          </p>
          <p class="benefits-text">Подарков постоянным клиентам</p>
        </li>
      </ul>
      <div class="benefits-group">
        <p class="uppertitle">старая традиционная школа</p>
        <h2 class="section-title">Почему приходят именно к нам?</h2>
        <p class="subtitle">
          О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
          чем 10 раз прочитать.
        </p>
      </div>
    </div>
  </div>
</section> -->
