<!-- <section class="contacts section" id="contacts">
  <div class="container container-contacts">
 
    <div class="contacts-left-side">
      <h2 class="contacts-left-side-title">Онлайн-запись</h2>
      <form class="contact-form" name="contact-form" autocomplete="off">
        <div class="form__wrapper">
          <label class="form-group">
            <span class="form-label">Имя</span>
            <input
              class="form-input"
              type="name"
              id="user-name"
              name="user-name"
              placeholder="Татьяна"
            />
          </label>
          <label class="form-group">
            <span class="form-label">Телефон</span>
            <input
              class="form-input"
              type="tel"
              id="user-phone"
              name="user-phone"
              placeholder="+38 063 000 00 00"
            />
          </label>
        </div>
        <label class="form-group form-message-group">
          <textarea
            class="form-message"
            name="user-massage"
            cols="30"
            rows="10"
            placeholder="Ваш комментарий"
          ></textarea>
          <span class="form-label">Сообщение</span>
        </label>

        <button class="btn btn-mode-dark" type="submit">Отправить</button>
      </form>
    </div>
 
    <div class="contacts-rigth-side">
      <h2 class="contacts-rigth-side-title">Контакты</h2>
      <ul class="contacts-list list">
        <li class="contacts-item item">
          <a
            class="contacts-link link"
            href="https://goo.gl/maps/qogRxJkn1skPLJbo9"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contacts-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-map-pin"></use>
            </svg>
            ул. Васильковая, 7А Киев, 08132
          </a>
        </li>
        <li class="contacts-item item">
          <a class="contacts-link link" href="tel:+380441111111">
            <svg class="contacts-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            +38 044 111 11 11
          </a>
        </li>
        <li class="contacts-item item">
          <a class="contacts-link link" href="mailto:barbershop@email.com">
            <svg class="contacts-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-mail"></use>
            </svg>
            barbershop@email.com
          </a>
        </li>
      </ul>
      <div class="time-container">
        <p class="time">Время работы</p>
        <time class="time-day">Ежедневно с 9:00 до 22:00</time>
      </div>
    </div>
  </div>
</section> -->
