<section class="contacts section" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__left--side">
      <h2 class="contacts__title">Book a Service</h2>
      <form class="contacts__form" name="contact-form" autocomplete="off">
        <div class="contacts__form--wrapper">
          <label class="contacts__form--group">
            <input
              class="contacts__form--input"
              type="name"
              id="user-name"
              name="user-name"
              placeholder="Ivan"
            />
            <span class="contacts__form--label">Name*</span>
          </label>
          <label class="contacts__form--group">
            <input
              class="contacts__form--input"
              type="tel"
              id="user-phone"
              name="user-phone"
              placeholder="+38 063 000 00 00"
            />
            <span class="contacts__form--label">Telephone*</span>
          </label>
        </div>
        <label class="contacts__form-message--group">
          <textarea
            class="contacts__form--message"
            name="user-message"
            rows="5"
            placeholder="Your comments"
          ></textarea>
          <span class="contacts__form--label">Message</span>
        </label>
        <button class="btn btn-mode-dark btn-mob" type="submit">send</button>
      </form>
    </div>
    <div class="contacts__rigth--side">
      <h2 class="contacts__title">Contacts</h2>
      <div class="contacts__rigth--container">
        <ul class="contacts__list">
          <li class="contacts__item item">
            <a
              class="contacts__link"
              href="https://goo.gl/maps/qogRxJkn1skPLJbo9"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-map-pin"></use>
              </svg>
              Main Street, 7A Kyiv, 08132
            </a>
          </li>
          <li class="contacts__item item">
            <a class="contacts__link" href="tel:+380441111111">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              +38 044 111 11 11
            </a>
          </li>
          <li class="contacts__item item">
            <a class="contacts__link" href="mailto:barbershop@email.com">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-mail"></use>
              </svg>
              barbershop@email.com
            </a>
          </li>
        </ul>
        <div class="contacts__time--container">
          <p class="contacts__time">working hours</p>
          <time class="contacts__time--day"
            >Daily from 9:00 AM till 22:00 PM</time
          >
        </div>
      </div>
    </div>
  </div>
</section>
