<!-- <section class="gallery section" id="gallery">
  <div class="container">
    <p class="uppertitle">На латинском языке “барба” означает “борода”</p>
    <h2 class="section-title" hidden>Галерея работ</h2>
    <ul class="list">
      <li class="item">
        <img
          class="gallery-img"
          src="./images/gallery/example1.jpg"
          alt="Стрижка"
          width="270"
          height="360"
        />
      </li>
      <li class="item">
        <img
          class="gallery-img"
          src="./images/gallery/example2.jpg"
          alt="Бритье"
          width="270"
          height="360"
        />
      </li>
      <li class="item">
        <img
          class="gallery-img"
          src="./images/gallery/example3.jpg"
          alt="Распаривание"
          width="270"
          height="360"
        />
      </li>
      <li class="item">
        <img
          class="gallery-img"
          src="./images/gallery/example4.jpg"
          alt="Окантовка"
          width="270"
          height="360"
        />
      </li>
    </ul>
  </div>
</section> -->
