<section class="gallery section" id="gallery">
  <div class="container">
    <div class="gallery__container">
      <p class="gallery__uppertitle">
        На латинском языке “барба” означает “борода”
      </p>
      <h2 class="gallery__title" hidden>Галерея работ</h2>
      <ul class="gallery__list">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery/Rectangle25@1x.png 1x,
                ./images/mobile/gallery/Rectangle25@2x.png 2x,
                ./images/mobile/gallery/Rectangle25@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="418"
              height="360"
            />
            <source
              srcset="
                ./images/tablet/gallery/Rectangle25@1x.png 1x,
                ./images/tablet/gallery/Rectangle25@2x.png 2x,
                ./images/tablet/gallery/Rectangle25@3x.png 3x
              "
              media="(max-width: 1279.98px)"
              type="image/png"
              width="330"
              height="360"
            />
            <source
              srcset="
                ./images/desktop/gallery/Rectangle25@1x.png 1x,
                ./images/desktop/gallery/Rectangle25@2x.png 2x,
                ./images/desktop/gallery/Rectangle25@3x.png 3x
              "
              media="(min-width: 1280px)"
              type="image/png"
              width="270"
              height="360"
            />
            <img
              class="gallery-img"
              src="./images/desktop/gallery/Rectangle25@1x.png"
              alt="Стрижка"
              width="270"
              height="360"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery/Rectangle26@1x.png 1x,
                ./images/mobile/gallery/Rectangle26@2x.png 2x,
                ./images/mobile/gallery/Rectangle26@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="418"
              height="360"
            />
            <source
              srcset="
                ./images/tablet/gallery/Rectangle26@1x.png 1x,
                ./images/tablet/gallery/Rectangle26@2x.png 2x,
                ./images/tablet/gallery/Rectangle26@3x.png 3x
              "
              media="(max-width: 1279.98px)"
              type="image/png"
              width="330"
              height="360"
            />
            <source
              srcset="
                ./images/desktop/gallery/Rectangle26@1x.png 1x,
                ./images/desktop/gallery/Rectangle26@2x.png 2x,
                ./images/desktop/gallery/Rectangle26@3x.png 3x
              "
              media="(min-width: 1280px)"
              type="image/png"
              width="270"
              height="360"
            />
            <img
              class="gallery-img"
              src="./images/desktop/gallery/Rectangle26@3x.png"
              alt="Бритье"
              width="270"
              height="360"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery/Rectangle27@1x.png 1x,
                ./images/mobile/gallery/Rectangle27@2x.png 2x,
                ./images/mobile/gallery/Rectangle27@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="418"
              height="360"
            />
            <source
              srcset="
                ./images/tablet/gallery/Rectangle27@1x.png 1x,
                ./images/tablet/gallery/Rectangle27@2x.png 2x,
                ./images/tablet/gallery/Rectangle27@3x.png 3x
              "
              media="(max-width: 1279.98px)"
              type="image/png"
              width="330"
              height="360"
            />
            <source
              srcset="
                ./images/desktop/gallery/Rectangle27@1x.png 1x,
                ./images/desktop/gallery/Rectangle27@2x.png 2x,
                ./images/desktop/gallery/Rectangle27@3x.png 3x
              "
              media="(min-width: 1280px)"
              type="image/png"
              width="270"
              height="360"
            />
            <img
              class="gallery-img"
              src="./images/desktop/gallery/Rectangle27@1x.png"
              alt="Распаривание"
              width="270"
              height="360"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery/Rectangle28@1x.png 1x,
                ./images/mobile/gallery/Rectangle28@2x.png 2x,
                ./images/mobile/gallery/Rectangle28@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="418"
              height="360"
            />
            <source
              srcset="
                ./images/tablet/gallery/Rectangle28@1x.png 1x,
                ./images/tablet/gallery/Rectangle28@2x.png 2x,
                ./images/tablet/gallery/Rectangle28@3x.png 3x
              "
              media="(max-width: 1279.98px)"
              type="image/png"
              width="330"
              height="360"
            />
            <source
              srcset="
                ./images/desktop/gallery/Rectangle28@1x.png 1x,
                ./images/desktop/gallery/Rectangle28@2x.png 2x,
                ./images/desktop/gallery/Rectangle28@3x.png 3x
              "
              media="(min-width: 1280px)"
              type="image/png"
              width="270"
              height="360"
            />
            <img
              class="gallery-img"
              src="./images/desktop/gallery/Rectangle28@1x.png"
              alt="Окантовка"
              width="270"
              height="360"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
