<section class="hero">
  <div class="container hero__container">
    <div class="hero__left-side">
      <ul class="hero__list social-links-list">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="htts://www.youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
    <div class="hero__group">
      <p class="hero__uppertitle uppertitle--mode-dark" lang="en">
        A hair salon for men in Kyiv
      </p>
      <h1 class="hero__title" lang="en">BarberShop</h1>
      <p class="hero__subtitle subtitle--mode-dark">
        We are experts in trendy men's haircuts. We work quickly, carefully, and
        tastefully.
      </p>
    </div>
    <div class="slider">
      <ul class="slider__pagination">
        <li class="slider__item slider__item--active"></li>
        <li class="slider__item"></li>
        <li class="slider__item"></li>
      </ul>
      <ul class="slider__controls">
        <li class="slider__item-controls">
          <button class="slider__btn slider__btn--disable" type="button">
            Back
          </button>
        </li>
        <li class="slider__item-controls">
          <button class="slider__btn" type="button">Next</button>
        </li>
      </ul>
    </div>
  </div>
</section>
