<!-- <section class="price section" id="price">
  <div class="container price-container">
    <p class="uppertitle">Проведи время в компании лучших мастеров</p>
    <h2 class="section-title">Услуги и цены</h2>
    <ul class="price-list list">
      <li class="item">
        <ul class="inner-list list">
          <li class="inner-item">Мужская стрижка <span>от 300 грн.</span></li>
          <li class="inner-item">Стрижка бороды <span>от 200 грн.</span></li>
          <li class="inner-item">Стрижка усов <span>от 200 грн.</span></li>
          <li class="inner-item">
            Бритье опасной бритвой <span>от 200 грн.</span>
          </li>
        </ul>
      </li>
      <li class="item">
        <ul class="inner-list list">
          <li class="inner-item">Cтрижка у стажера <span>от 50 грн.</span></li>
          <li class="inner-item">
            Стрижка под насадку <span>от 200 грн.</span>
          </li>
          <li class="inner-item">
            Детская стрижка (до 12 лет) <span>от 300 грн.</span>
          </li>
          <li class="inner-item">
            Камуфлирование седины <span>от 200 грн.</span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="button-container">
      <button class="btn btn-mode-dark" type="button">онлайн-запись</button>
    </div>
  </div>
</section> -->
