<section class="price section" id="price">
  <div class="container price__container">
    <p class="price__uppertitle">
      Spend time in the company of the best craftsmen
    </p>
    <h2 class="price__title">Services and Prices</h2>
    <ul class="price__list">
      <li class="price__item price__list-first">
        <ul class="price__inner--list">
          <li class="price__inner--item">
            Men's Haircut <span>from 300 UAH </span>
          </li>
          <li class="price__inner--item">
            Beard Trim<span>from 200 UAH</span>
          </li>
          <li class="price__inner--item">
            Mustache Trim<span>from 200 UAH</span>
          </li>
          <li class="price__inner--item">
            Straight Razor Shave <span>from 200 UAH</span>
          </li>
        </ul>
      </li>
      <li class="price__item price__list--second">
        <ul class="price__inner--list">
          <li class="price__inner--item">
            Trainee Haircut <span>from 50 UAH</span>
          </li>
          <li class="price__inner--item">
            Buzz Cut <span>from 200 UAH</span>from 200 UAH
          </li>
          <li class="price__inner--item">
            Kids Haircut (12 y.o.) <span>from 300 UAH </span>
          </li>
          <li class="price__inner--item">
            Gray Coverage <span>from 200 UAH</span>
          </li>
        </ul>
      </li>
    </ul>

    <button class="btn btn-mode-dark btn-desk" type="button">
      book a Service
    </button>
  </div>
</section>
