<section class="price section" id="price">
  <div class="container price-container">
    <p class="uppertitle">Spend time in the company of the best craftsmen</p>
    <h2 class="section-title">Services and Prices</h2>
    <ul class="price-list list">
      <li class="item">
        <ul class="inner-list list">
          <li class="inner-item">Men's Haircut <span>from 300 UAH </span></li>
          <li class="inner-item">Beard Trim<span>from 200 UAH</span></li>
          <li class="inner-item">Mustache Trim<span>from 200 UAH</span></li>
          <li class="inner-item">
            Straight Razor Shave <span>from 200 UAH</span>
          </li>
        </ul>
      </li>
      <li class="item">
        <ul class="inner-list list">
          <li class="inner-item">Trainee Haircut <span>from 50 UAH</span></li>
          <li class="inner-item">
            Buzz Cut <span>from 200 UAH</span>from 200 UAH
          </li>
          <li class="inner-item">
            Kids Haircut (<12 y.o.) <span>from 300 UAH </span>
          </li>
          <li class="inner-item">Gray Coverage <span>from 200 UAH</span></li>
        </ul>
      </li>
    </ul>
    <div class="button-container">
      <button class="btn btn-mode-dark" type="button">book a Service</button>
    </div>
  </div>
</section>
