<section class="team section" id="team">
  <div class="container team__container">
    <p class="team__uppertitle">for true connoisseurs of the atmosphere</p>
    <h2 class="team__title">Our Barbers</h2>
    <ul class="member__list grid">
      <li class="member__item">
        <picture>
          <source
            srcset="
              ./images/mobile/team/img1@1x.png 1x,
              ./images/mobile/team/img1@2x.png 2x,
              ./images/mobile/team/img1@3x.png 3x
            "
            media="(max-width: 767.98px)"
            type="image/png"
            width="418"
            height="346"
          />
          <source
            srcset="
              ./images/tablet/team/img1@1x.png 1x,
              ./images/tablet/team/img1@2x.png 2x,
              ./images/tablet/team/img1@3x.png 3x
            "
            media="(max-width: 1279.98px)"
            type="image/png"
            width="450"
            height="346"
          />
          <source
            srcset="
              ./images/desktop/team/img1@1x.png 1x,
              ./images/desktop/team/img1@2x.png 2x,
              ./images/desktop/team/img1@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
            width="370"
            height="346"
          />
          <img
            class="member-img"
            src="./images/desktop/team/img1@1x.png"
            alt="John Smith"
            width="370"
            height="346"
          />
        </picture>
        <div class="member__group">
          <h3 class="member__title">John Smith</h3>
          <p class="member__position" lang="en">Extreme Barber</p>
          <ul class="socials__list--icons">
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://www.instagram.com/"
                target="_blank"
                title="Instagram"
                aria-label="Instagram"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://twitter.com/"
                target="_blank"
                title="Twitter"
                aria-label="Twitter"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://www.facebook.com/"
                target="_blank"
                title="Facebook"
                aria-label="Facebook"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://ua.linkedin.com/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member__item">
        <picture>
          <source
            srcset="
              ./images/mobile/team/img2@1x.png 1x,
              ./images/mobile/team/img2@2x.png 2x,
              ./images/mobile/team/img2@3x.png 3x
            "
            media="(max-width: 767.98px)"
            type="image/png"
            width="418"
            height="346"
          />
          <source
            srcset="
              ./images/tablet/team/img2@1x.png 1x,
              ./images/tablet/team/img2@2x.png 2x,
              ./images/tablet/team/img2@3x.png 3x
            "
            media="(max-width: 1279.98px)"
            type="image/png"
            width="450"
            height="346"
          />
          <source
            srcset="
              ./images/desktop/team/img2@1x.png 1x,
              ./images/desktop/team/img2@2x.png 2x,
              ./images/desktop/team/img2@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
            width="370"
            height="346"
          />
          <img
            class="member-img"
            src="./images/desktop/team/img2@1x.png"
            alt="Michele Doe"
            width="370"
            height="346"
          />
        </picture>
        <div class="member__group">
          <h3 class="member__title">Michele Doe</h3>
          <p class="member__position" lang="en">Extreme Barber</p>
          <ul class="socials__list--icons">
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://www.instagram.com/"
                target="_blank"
                title="Instagram"
                aria-label="Instagram"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://twitter.com/"
                target="_blank"
                title="Twitter"
                aria-label="Twitter"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://www.facebook.com/"
                target="_blank"
                title="Facebook"
                aria-label="Facebook"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://ua.linkedin.com/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member__item">
        <picture>
          <source
            srcset="
              ./images/mobile/team/img3@1x.png 1x,
              ./images/mobile/team/img3@2x.png 2x,
              ./images/mobile/team/img3@3x.png 3x
            "
            media="(max-width: 767.98px)"
            type="image/png"
            width="418"
            height="346"
          />
          <source
            srcset="
              ./images/tablet/team/img3@1x.png 1x,
              ./images/tablet/team/img3@2x.png 2x,
              ./images/tablet/team/img3@3x.png 3x
            "
            media="(max-width: 1279.98px)"
            type="image/png"
            width="450"
            height="346"
          />
          <source
            srcset="
              ./images/desktop/team/img3@1x.png 1x,
              ./images/desktop/team/img3@2x.png 2x,
              ./images/desktop/team/img3@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
            width="370"
            height="346"
          />
          <img
            class="member-img"
            src="./images/desktop/team/img3@1x.png"
            alt="Alan Black"
            width="370"
            height="346"
          />
        </picture>
        <div class="member__group">
          <h3 class="member__title">Alan Black</h3>
          <p class="member__position" lang="en">Extreme Barber</p>
          <ul class="socials__list--icons">
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://www.instagram.com/"
                target="_blank"
                title="Instagram"
                aria-label="Instagram"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://twitter.com/"
                target="_blank"
                title="Twitter"
                aria-label="Twitter"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://www.facebook.com/"
                target="_blank"
                title="Facebook"
                aria-label="Facebook"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item--icons">
              <a
                class="socials__link--icons"
                href="https://ua.linkedin.com/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
