<section class="team section" id="team">
  <div class="container">
    <p class="uppertitle">для настоящих ценителей атмосферы</p>
    <h2 class="section-title">Наши мастера</h2>
    <ul class="member-list list grid">
      <li class="member-item grid-item">
        <img
          class="member-img"
          src="./images/team/JohnSmith.jpg"
          alt="John Smith"
          width="370"
          height="346"
        />
        <div class="member-group">
          <h3 class="member-title">John Smith</h3>
          <p class="member-position" lang="en">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://www.instagram.com/"
                target="_blank"
                title="Instagram"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://twitter.com/"
                target="_blank"
                title="Twitter"
                aria-label="Twitter"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://www.facebook.com/"
                target="_blank"
                title="Facebook"
                aria-label="Facebook"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://ua.linkedin.com/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member-item grid-item">
        <img
          class="member-img"
          src="./images/team/MicheleDoe.jpg"
          alt="Michele Doe"
          width="370"
          height="346"
        />
        <div class="member-group">
          <h3 class="member-title">Michele Doe</h3>
          <p class="member-position" lang="en">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://www.instagram.com/"
                target="_blank"
                title="Instagram"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://twitter.com/"
                target="_blank"
                title="Twitter"
                aria-label="Twitter"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://www.facebook.com/"
                target="_blank"
                title="Facebook"
                aria-label="Facebook"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://ua.linkedin.com/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member-item grid-item">
        <img
          class="member-img"
          src="./images/team/AlanBlack.jpg"
          alt="Alan Black"
          width="370"
          height="346"
        />
        <div class="member-group">
          <h3 class="member-title">Alan Black</h3>
          <p class="member-position" lang="en">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://www.instagram.com/"
                target="_blank"
                title="Instagram"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://twitter.com/"
                target="_blank"
                title="Twitter"
                aria-label="Twitter"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://www.facebook.com/"
                target="_blank"
                title="Facebook"
                aria-label="Facebook"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link"
                href="https://ua.linkedin.com/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
