.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: getColor(secondary);

    &:hover .socials-icon,
    &:focus .socials-icon {
        fill: #ff6c00;
    }
}

.socials-icon {
    transition: fill getProperty(time) getProperty(cubic);
    fill: getColor(primary);
}



.socials-list {
    margin-left: auto;
}

.socials-list .item {
    margin-right: 40px;
}

.socials-list .item:last-child {
    margin-right: 0;
}

.socials-list::before {
    content: '';
    display: block;
    margin-right: 40px;
    width: 60px;
    height: 1px;
    background-color: getColor(primary)
}