.hero__container {
    @media screen and (min-width: getSize(desktop)) {
        position: relative;
        display: flex;
    }
}

.hero__left-side {
    @media screen and (min-width: getSize(desktop)) {
        display: flex;
        align-items: flex-end;

        width: 100px;
    }
}

.hero__list {
    @extend %list;
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left top;
}

.hero__group {
    flex-grow: 1;

    margin-left: 100px;
    margin-top: 154px;
    margin-bottom: 206px;
}

.hero__uppertitle {
    @extend %uppertitle;
    color: getColor(btn-dis);
    animation: expand 0.6s ease-in;

    &::before {
        background-color: getColor(btn-dis);
    }
}


.hero__title {
    @extend %main-title;
    animation: fade-left-to-right 1s ease-out;
}

.hero__subtitle {
    @extend %subtitle;
    color: getColor(text-price-contacts-color);
    width: 476px;
    animation: fade-bottom-to-top 2s ease;
}