:root {
  /* .................................................FONT */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* .....................................Text-Color */
  --primary-text-color: #303030;
  --secondary-text-color: #ffffff;
  --thirth-text-color: #555555;
  --accent-text-color: #ff6c00;
  --accent-secondary-text-color: #ffffff;
  /* ........................................BCG */
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f7f7f7;
  --text-price-contacts-color: #9da4bd;
  --dark-bcg: #191c26;

  /* ...................................grid items */
  --items: 1;
  --indent: 30px;
}
/*..................................................Общее .............................................*/
html {
  scroll-behavior: smooth;
}

body {
  font-style: normal;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.02em;

  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h4,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
address {
  font-style: normal;
}
.link,
.socials-link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* .........................................Сітка для колекції з елементів */
.grid {
  display: flex;
  flex-wrap: wrap;

  gap: var(--indent);
}
.grid-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid orangered;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.flex {
  display: flex;
  align-items: center;
}
/* .................................................Header ...................*/
.header,
.hero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(25, 28, 38, 0.2);
}
.logo {
  margin-right: 71px;
}
.logo::after {
  content: "";
  margin-top: 22px;
  display: block;
  width: 100px;
  height: 10px;
  background-color: #c4c4c4;
}
.navigation-item {
  margin-right: 40px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.navigation-link {
  color: var(--secondary-text-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-text-color);
}

/* .............................................Контакти................................ */
.header-group {
  margin-left: auto;
}
.navigation-link,
.header-phone {
  display: block;

  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;

  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-text-color);
}
.header-phone {
  margin-right: 40px;
  text-transform: uppercase;
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-text-color);
}

/* ......................................................ALL BUTTON */
.btn {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-text-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--accent-secondary-text-color);
  background-color: var(--accent-text-color);
}
.btn-mode-light {
  color: var(--primary-text-color);
}
.btn-mode-dark {
  color: var(--accent-secondary-text-color);
}
.slider-btn {
  width: 60px;
  height: 24px;
  padding: 0;

  font-weight: 600;
  text-align: right;
  letter-spacing: 0.1em;

  color: var(--secondary-text-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--accent-secondary-text-color);
  cursor: pointer;
}
.slider-btn-disable {
  margin-right: 26px;

  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}
.list-button {
  display: flex;
  justify-content: end;
}
/* .................................................Hero........................................ */
.hero-group {
  width: 476px;
}
.hero-group .uppertitle {
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}
.hero .item:last-child {
  margin-right: 0;
}
.hero .link {
  margin-right: 40px;
  font-weight: 600;
  color: var(--primary-text-color);
}
.hero .link:hover,
.hero .link:focus {
  color: var(--accent-text-color);
}
.hero .main-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--accent-secondary-text-color);
}
.hero-group .subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-price-contacts-color);
}
.hero-socials-container .list {
  display: flex;
  font-weight: 600;
  color: #303030;
}

/* .................................................ABOUT......................................... */
.about .list {
  margin-right: 64px;
}
.about .item {
  margin-right: 30px;
}
.about .item:last-child {
  margin-right: 0;
}
.about-group {
  width: 500px;
}
.about .uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about .uppertitle::before {
  content: "";
  margin-right: 20px;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #111319;
}
.about .uppertitle:hover,
.about .uppertitle:focus {
  color: var(--accent-text-color);
}
.about .uppertitle:hover::before,
.about .uppertitle:focus::before {
  background-color: var(--accent-text-color);
}
.about .section-title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}
.about .subtitle {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.67;
  color: var(--thirth-text-color);
}
.about .description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  color: var(--thirth-text-color);
}
/* ..............................................Price....................................... */
.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../photos/price-overlay.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-list {
  display: flex;
  margin-bottom: 50px;
}
.price-list .item {
  padding: 30px 40px;
  width: 585px;
  height: 240px;
  outline: 2px solid #ff6c00;
}
.price .uppertitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.price .uppertitle:hover,
.price .uppertitle:focus {
  color: var(--accent-text-color);
}
.price .uppertitle:hover::before,
.price .uppertitle:focus::before {
  background-color: var(--accent-text-color);
}
.price .uppertitle::before {
  content: "";
  margin-right: 20px;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #fff;
}
.price .section-title {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--accent-secondary-text-color);
}
.inner-list {
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-price-contacts-color);
}
.inner-item:not(:last-child) {
  margin-bottom: 20px;
}
.button-container {
  text-align: center;
}
/* .....................................................BENEFITS................................................ */
.benefits-container {
  display: flex;
  justify-content: center;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 378px;
  margin-right: 130px;
}
.benefits-list .item {
  padding: 20px 24px;
  max-width: 185px;
  height: 133px;
  text-align: center;
  background-color: var(--secondary-bcg-color);
}
.benefits-amount {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.benefits-amount-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-text-color);
}
.benefits-text {
  font-weight: 600;
  text-align: center;
}
.benefits-group {
  width: 500px;
}
.benefits-group .uppertitle {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.benefits-group .uppertitle:hover,
.benefits-group .uppertitle:focus {
  color: var(--accent-text-color);
}
.benefits-group .uppertitle:hover::before,
.benefits-group .uppertitle:focus::before {
  background-color: var(--accent-text-color);
}
.benefits-group .uppertitle::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;

  background-color: var(--primary-text-color);
}
.benefits-group .section-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}
.benefits-group .subtitle {
  font-size: 18px;
  line-height: 1.67;
  color: var(--thirth-text-color);
}
/* new test code  */
.benefits-list {
  position: relative;
}
.item-600 {
  position: absolute;

  /* margin-right: 30px;
  margin-bottom: 30px; */
}
.item-20 {
  position: absolute;
  bottom: -25%;
  /* margin-right: 23px; */
}
.item-50 {
  position: absolute;
  top: 20%;
  left: 55%;
  /* margin-bottom: 30px; */
}
.item-100 {
  position: absolute;
  bottom: -45%;
  left: 55%;
}
/* ...........................................TEAM................................... */
.team {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bcg-color);
}
.team .uppertitle {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.team .uppertitle:hover,
.team .uppertitle:focus {
  color: var(--accent-text-color);
}
.team .uppertitle:hover::before,
.team .uppertitle:focus::before {
  background-color: var(--accent-text-color);
}
.team .uppertitle::before {
  content: "";

  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--primary-text-color);
}
.team .section-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.member-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
}
.member-item {
  --items: 3;
}
.member-group {
  outline: 2px solid orange;
  padding-top: 30px;
  padding-bottom: 30px;
}
.member-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-text-color);
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bcg-color);
}
.socials-icon {
  fill: var(--primary-text-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-text-color);
}
/* .............................................GALLERY......................................... */
.gallery .uppertitle {
  display: inline-flex;
  align-items: center;
  margin-bottom: 44px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gallery .uppertitle:hover,
.gallery .uppertitle:focus {
  color: var(--accent-text-color);
}
.gallery .uppertitle:hover::before,
.gallery .uppertitle:focus::before {
  background-color: var(--accent-text-color);
}
.gallery .uppertitle::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--primary-text-color);
}
.gallery .section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.gallery .list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.gallery .item {
  margin: 15px;
  flex-basis: calc((100% - 120px) / 4);
}
/* ................................................contacts */
.contacts {
  max-width: 1280px;
  height: 644px;
  margin: 0 auto;
  background-color: var(--dark-bcg);
  background-image: url(../photos/contacts-Bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left calc(50% + 325px);
}
.contacts-title {
  margin-bottom: 40px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.66;
  letter-spacing: 0.05em;

  color: var(--secondary-text-color);
}
.contacts-list {
  margin-bottom: 70px;
}
.contacts-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-price-contacts-color);
}
.contacts-icon {
  margin-right: 16px;
  /* fill: var(--text-price-contacts-color); */
}
/* .contacts-icon:hover,
.contacts-icon:focus {
  fill: var(--accent-text-color);
} */
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}
.contacts .item:not(:last-child) {
  margin-bottom: 20px;
}
.time {
  margin-bottom: 20px;

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.time::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}
.time-day {
  font-size: 18px;
  line-height: 1.67;

  color: var(--text-price-contacts-color);
}
/* .........................................Footer section */
.footer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--secondary-bcg-color);
}
.socials-list {
  margin-left: auto;
}
.socials-list .item {
  margin-right: 40px;
}
.socials-list .item:last-child {
  margin-right: 0;
}
.socials-list::before {
  content: "";
  display: block;
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: var(--primary-text-color);
}
.footer .copyright {
  font-weight: 600;
  color: var(--text-price-contacts-color);
}
.footer .link {
  font-weight: 600;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-text-color);
}
.copiright {
  font-weight: 600;
  color: var(--text-price-contacts-color);
}
